@import url('https://fonts.googleapis.com/css?family=Arvo|Noto+Sans');

h1 {
    color: lightyellow;
    /* font-family: fantasy; */
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    color: lightyellow;
    /* font-family: fantasy; */
    font-family: 'Noto Sans', sans-serif;
}

h3 {
    color: lightyellow;
    /* font-family: fantasy; */
    font-family: 'Noto Sans', sans-serif;
}

h4 {
    color: lightyellow;
    /* font-family: fantasy; */
    font-family: 'Noto Sans', sans-serif;
}

#wordmark {
    /* DIGIT 400 wordmark */
}

p {
    
    font-family: 'Arvo', serif;
}

.loop{
    color: lightyellow;
}

#replace{
    color:lightyellow;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body{
    text-decoration-color: lightyellow;
    background-color: dimgrey;
    /* The image used */
    background-image: url("/static/images/TheGreatDepression.jpg");
    
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    text-decoration-color: lightyellow;
    background-color: dimgrey;
}

.bg-image {
  /* The image used */
  background-image: url("/static/images/TheGreatDepression.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Body{
    background-color: darkgrey;
}