@import url('https://fonts.googleapis.com/css?family=Arvo|Noto+Sans');

h1 {
    color: red;
    /* font-family: fantasy; */
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    color: red;
    /* font-family: fantasy; */
    font-family: 'Noto Sans', sans-serif;
}

h3 {
    color: red;
    /* font-family: fantasy; */
    font-family: 'Noto Sans', sans-serif;
}

h4 {
    color: red;
    /* font-family: fantasy; */
    font-family: 'Noto Sans', sans-serif;
}

#wordmark {
    /* DIGIT 400 wordmark */
}

p {
    
    font-family: 'Arvo', serif;
}

.loop{
    color: #707070;
}

#replace{
    color: #961548;
}