{% extends "header.html" %}

{% block body %}

<div class="container">
    
    <br>
    <h4>Search</h4>
    <br>
    
    <p>Here you can browse our site for different articles.</p>

</div>
<div class="card text-center">
  <div class="card-header">
    Article of the Day
  </div>
  <div class="card-body">
    <h5 class="card-title">The Great Depression</h5>
    <p class="card-text">Article about The Great Depression created by YAIS</p>
    <a href="/TheGreatDepression/" class="btn btn-primary">Go to Article</a>
  </div>
  <div class="card-footer text-muted">
    Last edited on 5/28/2020
  </div>
</div>
{% endblock %}