{% extends "header.html" %}

{% block body %}

<body>
    <div id="Body" class="container">
        <h4 id="Body">Register</h4>
        <br>
        {% from "formhelpers.html" import render_field %}
        
        <form id="Body" method="post" action="/register/">
        <dl>    
            {{render_field(form.articletitle)}}
            {{render_field(form.titleofcontainer)}}
            {{render_field(form.contributor)}}
            {{render_field(form.publisher)}}
            {{render_field(form.location)}}
            
            <p><input type="submit" value=Add></p>
            
            <!--{% if error %}
                <p class="error"><strong>Error: </strong>{{error}}</p>
            {% endif %}-->
            
        </dl>    
        </form>
        
    </div>
</body>

{% endblock %}