{% extends "header.html" %}

{% block body %}

<body id="Body" class="body">
	<!--<div class="container" align="left">
	   <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
	</div>-->
{{chart|safe}}
    <h2 id="Body">Author Name(s). "Article Title". <i>Title of Container</i>, Contributors, Version, Numbers, Date of Publication, Location. <i>Title of Database</i>, DOI or URL <button type="button" class="btn btn-secondary">Good Source</button><button type="button" class="btn btn-dark">Bad Source</button></h2>
    <h2 id="Body">Author Name(s). "Article Title". <i>Title of Container</i>, Contributors, Version, Numbers, Date of Publication, Location. <i>Title of Database</i>, DOI or URL <button type="button" class="btn btn-secondary">Good Source</button><button type="button" class="btn btn-dark">Bad Source</button></h2>
    <h2 id="Body">Author Name(s). "Article Title". <i>Title of Container</i>, Contributors, Version, Numbers, Date of Publication, Location. <i>Title of Database</i>, DOI or URL <button type="button" class="btn btn-secondary">Good Source</button><button type="button" class="btn btn-dark">Bad Source</button></h2>
    <p id="Body">Information is going to be placed here after the source(s) in order to emhesise the importance of psoper sourcing, this is a test for the system to make sure that it works it will be replaced at a later date with proper infromation and proper sourcing if there are multiple sources they will be repeated one after another like shown above I am running out of filler so I am going to start typing random things into this runon sentence in order to give the site a illuion of actual information being present in order to distract people from the fact that I spend all my time tryign to get the style.css and the pie chart to work with me only to give up and place the chart where the website will be for now instead of where I wanted it to go and for me to comment out all the style.css stuff I was doing in order to have a website that while looking very simple and unpoilished actually works for the presentation My God does this take up little space what a waste five minutes.</p>
</body>


{% endblock %}
