{% extends "header.html" %}

{% block body %}

<body id="Body" class="body">
	<!--<div class="container" align="left">
	   <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
	</div>-->
{{chart|safe}}
    <h2 id="Body">“The Great Depression.” PBS,<i>Public Broadcasting Service</i>, www.pbs.org/wgbh/americanexperience/features/dustbowl-great-depression/.<button type="button" class="btn btn-secondary">Good Source</button><button type="button" class="btn btn-dark">Bad Source</button></h2>
    <h2 id="Body">“The Great Depression.”. <i>The Great Depression</i>, www.u-s-history.com/pages/h1569.html. <button type="button" class="btn btn-secondary">Good Source</button><button type="button" class="btn btn-dark">Bad Source</button></h2>
    <h2 id="Body">Author Name(s). “The Great Depression (1929-1939).” <i>Teaching Eleanor Roosevelt Glossary</i>, www2.gwu.edu/~erpapers/teachinger/glossary/great-depression.cfm.<button type="button" class="btn btn-secondary">Good Source</button><button type="button" class="btn btn-dark">Bad Source</button></h2>
    <button type="button" class="btn btn-dark" href="#sources">Add Source</button>
    <p id="Body">The Great Depression is a timeperiod that occured around the world from 1929 to 1939. It marked the end of the period in the US caled the Roaring 20's and came to an end with the beginning of the Second World War. It is a significant event as it crippled nearly every nation's economy in the world and showed the weakness in a stock market crash. The events that occured back then allowed the later generations to put into place measures to prevent such a devastating event from happening again. It pushed most of the world powers to a more isolationist mindset and allowed countries such as Italy and Germany to make preparations for war relatively unchallenged. </p>
</body>


{% endblock %}
